@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}
.play-video iframe {
  height: 62vh;
  width: 100%;
}
@media (max-width: 1024px) {
  .play-video iframe {
    height: 40vh;
    width: 100%;
  }
}
